html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

:root {
	--line-height: 1.6;
	--border-radius: 0.2rem;
	--s: 0.5rem;
	--s-container: 70rem;
	--c-fg: black;
	--c-bg: white;
	--c-bg2: whitesmoke;
	--c-link: blue;
	--c-border: var(--c-link);
	--c-button: darkblue;
	--c-button-search: darkorchid;
	--c-pagination: white;
}

html {
	min-height: 100%;
	line-height: var(--line-height);
	color: var(--c-fg);
	background-color: var(--c-bg);
}
body {
	max-width: var(--s-container);
	width: 100%;
	padding: 0;
	margin: 0;
}
html,
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
body > main {
	padding: calc(var(--s) * 1);
	background-color: var(--c-bg2);
	border-radius: var(--border-radius);
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}
header h1 {
	padding: 0 var(--s);
	margin: 0;
}
header a {
	text-decoration: none;
}

header,
footer {
	padding: var(--s);
}

summary {
	cursor: pointer;
	padding: var(--s);
}

a {
	color: var(--c-link);
}

vf-searchbox {
	position: sticky;
	top: 0;
	z-index: 1;
}

vf-site {
}
vf-site-name {
	display: none;
}

vf-searchbox {
}
vf-searchresults .gsc-control-cse {
	background-color: var(--c-bg2);
	border-color: var(--c-bg2);
}

/* styles by attriute for layout */
[text-center] {
	text-align: center;
}

/* lists */
ul[list-type="nav"] {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
}
ul[list-type="nav"] a {
	padding: var(--s);
}

/* google forms */
iframe[src^="https://docs.google.com/forms"]
{
	width: 100%;
	height: 90vh;
	min-width: clamp(75vw, 100vmin, calc(100vw - var(--s) * 6));
	margin: var(--s);
}
